.header {
    &-navbar {
        &__input {
            border:$border-header-input;
            position: relative;
            box-sizing: border-box;
            color: $color-gray;
            font-size: 16px;
            border-radius: 3px;
            width: 81%;
            height: 40px;
            margin: 0;
            background-color: $color-white;
            box-shadow: none;
            padding-left: 10px;
        }
        &__button {
            border-radius: 0 3px 3px 0;
            width: 46px;
            height: 40px;
            border:$border-header-input;
            background-color: $color-white;
            background-image: $background-header-button;
            i {
                font-size: 18px;
                color: $color-gray-icon;
            }
        }
        &__logo {
            width: 15%;
            float: left;
            overflow: hidden;
        }
    }
}